In [1]:
import pandas as pd
import numpy as np

In [6]:
df_che=pd.read_csv('../Scripts/temp/CheMed_photo_info.csv')
df_lob=pd.read_csv('../Scripts/temp/lobelia_photo_info.csv')
df_telegram=pd.read_csv('../Data/scraped_telegram_data.csv')

In [7]:
df_che['Source']='CheMed'
df_lob['Source']='lobelia'

In [8]:
df_image = pd.concat([df_che, df_lob])
df_image = df_image.sample(frac=1).reset_index(drop=True)

In [9]:
df_image.head()

,Photo URL,Date,Text,Source
0,https://t.me/lobelia4cosmetics\photos/photo_60...,2022-04-25T16:34:39,Prenatal \nPrice 3000 birr \nTelegram Msgüëâ Lob...,lobelia
1,https://t.me/lobelia4cosmetics\photos/photo_28...,2022-01-04T20:19:59,NaN,lobelia
2,https://t.me/lobelia4cosmetics\photos/photo_22...,2024-05-29T08:50:18,Pediasure 3+ 1.6kg \nPrice 4600 birr \nTelegra...,lobelia
3,https://t.me/lobelia4cosmetics\photos/photo_22...,2024-05-13T20:24:03,Wellman Conception \nPrice 4000\nTelegram Msgüëâ...,lobelia
4,https://t.me/lobelia4cosmetics\photos/photo_94...,2022-10-21T16:03:50,Ensure 850 gm\nPrice 2500 birr \nTelegram Msgüëâ...,lobelia

In [11]:
df_image.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3392 entries, 0 to 3391
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Photo URL  3392 non-null   object
 1   Date       3392 non-null   object
 2   Text       3023 non-null   object
 3   Source     3392 non-null   object
dtypes: object(4)
memory usage: 106.1+ KB

In [10]:
df_telegram.head()

,date,text,sender
0,2022-04-28T05:46:38+00:00,·àÉ·ã´·âµ ·àÜ·àµ·çí·â≥·àç ·àú·ã≤·ä´·àç ·äÆ·àå·åÖ·àÖ·ä≠·àù·äì ·àà·àõ·åç·äò·âµ ·ä†·àµ·â†·ãã·àç ?·ã®·âµ ·àò·àÑ·ãµ·àµ ·ä•·äï...,Unknown
1,2022-04-29T18:57:35+00:00,NaN,Unknown
2,2022-04-29T18:59:05+00:00,NaN,Unknown
3,2022-05-01T11:13:33+00:00,·ä®·à≥·àù·äï·âµ ·â†·çä·âµ ·â†·àà·âÄ·âÖ·äê·ãç ·â¶·à≠·å≠·äï ·â†·àÖ·ä≠·àù·äì ·ä•·äï·ã¥·âµ ·àõ·å•·çã·âµ ·ã≠·âª·àã·àç ·â†·àö·àà...,Unknown
4,2022-05-06T17:51:05+00:00,·ãõ·à¨ ·àù·àΩ·âµ 3:30 ·â† ·çã·äì ·â¥·àå·â™·ã•·äï·àµ·àà ·çï·àÆ·â≤·äï : ·ä≠·à¨·â≤·äï ·çì·ãç·ã∞·àÆ·âΩ ·àù·äï ...,Unknown

In [12]:
df_telegram.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    400 non-null    object
 1   text    388 non-null    object
 2   sender  400 non-null    object
dtypes: object(3)
memory usage: 9.5+ KB

In [13]:
# Remove duplicates in df_telegram
df_telegram.drop_duplicates(inplace=True)

# Remove duplicates in df_image
df_image.drop_duplicates(inplace=True)

In [15]:
print("\nMissing values in Telegram DataFrame:")
print(df_telegram.isnull().sum())

Missing values in Telegram DataFrame:
date      0
text      2
sender    0
dtype: int64

In [16]:


# Count missing values in df_image
print("\nMissing values in Image DataFrame:")
print(df_image.isnull().sum())

Missing values in Image DataFrame:
Photo URL      0
Date           0
Text         364
Source         0
dtype: int64

In [17]:
df_telegram.dropna(inplace=True)

In [18]:
# Convert 'Date' column in both DataFrames to datetime format
df_telegram['date'] = pd.to_datetime(df_telegram['date'])
df_image['Date'] = pd.to_datetime(df_image['Date'])

In [21]:
# Save the cleaned DataFrames to new CSV files
df_telegram.to_csv('./cleaned_telegram.csv', index=False)
df_image.to_csv('./cleaned_image.csv', index=False)

print("\nCleaning and transformation completed. Data saved to CSV files.")

Cleaning and transformation completed. Data saved to CSV files.

In [2]:
import pandas as pd 

# Load your cleaned DataFrames
df_telegram = pd.read_csv('./cleaned_telegram.csv')
df_image = pd.read_csv('./cleaned_image.csv')

In [4]:
pip install dbt

Requirement already satisfied: dbt in c:\users\ende\anaconda3_new\envs\enve\lib\site-packages (1.0.0.37.19)
Requirement already satisfied: setuptools>=61.2 in c:\users\ende\anaconda3_new\envs\enve\lib\site-packages (from dbt) (69.5.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
dbt init my_project

SyntaxError: invalid syntax (2018957853.py, line 1)